@charset "utf-8";
body {
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap {
    width: 100%;
    margin: 0 auto;
    /* padding-top: 60px; */
}
/* Header */
#header {
    /* width 1280px */
    width: 100%;
    height: 60px;
    line-height: 60px;
    /* color: #fff; */
    background: none;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999999;
    transform: translateX(-50%);
}
#header .head {
    width: 66.66666666666667vw;
    margin: 0 auto;

    /* flex */
    display: flex;
    justify-content: space-between;
}
#header .head h1 a {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
}
#header .gnb ul li a {
    margin-left: 0.9375vw;
    font-size: 1rem;
    font-weight: 500;
}
#header a:hover {
    cursor: pointer;
    opacity: 0.7;
}
/* Contents */
.about {
    width: 100%;
    height: 100vh;
    line-height: 3rem;
    margin: 0 auto;
    /* background: #fff; */
    background: #000;
}
.about h2 {
    /* width: 100vw; */
    font-size: 1.75rem;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* color: #000; */
    color: #fff;
}
.about h2 span {
    background-image: linear-gradient(#d9ff00, #f8ff9c);
    background-position: bottom;
    background-size: 100% 15%;
    background-repeat: no-repeat;
    font-size: 2.2rem;
    font-weight: bold;
}
.down_icon {
    text-align: center;
    color: #d9d9d9;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll 1.7s infinite
}
.down_icon p {
}
.down_icon i {
    font-size: 2.5rem;
    cursor: pointer;
}
@keyframes scroll {
    0% {
        padding-bottom: 10px;
    }
    50% {
        padding-bottom: 0;
    }
    100% {
        padding-bottom: 10px;
    }
}
/* about_me*/
.sec_head {
    width: 66.66666666666667vw;
    margin: 0 auto;
    padding: 60px 0;
    border-bottom: 1px solid #e0e0e0;
}
.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    /* padding: 80px 0; */
}
.about_me .card ul {
    /* flex */
    display: flex;
    justify-content: space-between;
}
.about_me .card ul li {
    width: 100vw;
    padding: 12px 16px;
    padding: 12px 1.25rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    margin-right: 1.875vw;
    /* flex */
    display: flex;
    align-items: center;
}
.about_me .card ul li i {
    margin-right: 20px;
    font-size: 1.5rem;
}
.about_me .card ul li p {
    font-size: 1.25rem;
    line-height: 2rem;
}
.about_container p span {
    font-weight: 900;
}
/* SKILL */
.skill h3 {
    font-size: 1.5rem;
}
.skill_container{
    display: flex;
    margin-bottom: 24px;
}
.skill_container .skills {
    display: flex;
    margin: 12px 0.3125rem 12px 0;
    padding: 0 0.625rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
}
.skill_container .skills img{
    width: 1.25rem;
    height: auto;
    margin-right: 0.3125rem;
}
/* portfolio */
.project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.project_card {
    width: 50vw;
    margin-right: 24px;
    padding: 12px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.project_card .project_title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 12px;
}
.project_card a img {
    width: 100%;
    height: 300px;
    border: 1px solid #e6e6e6;
}
.project_card a {
    display: block;
    position: relative;
    overflow: hidden;
}

.project_card a::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    line-height: 300px;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.project_card a:hover::before {
    content: "Click";
    background: block;
    background: rgba(51, 51, 51, 0.6);
}
.project_card h3 {
    font-weight: 700;
}
.project_card p{
    color: #666;
    margin-bottom: 12px;
}
.project span {
    font-weight: 700;
}


/* 스크롤 이동시 배경 이미지 수정 */
.header_bgc_black {
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
}
.header_bgc_white {
    background-color: #fff ;
    background-color: rgba(255, 255, 255, 0.9)  !important;
    border-bottom: 1px solid #ccc;
    color: #000 ;
    transition: all 0.5s;
}